body{
  background-color: aquamarine;   

}

.card > div{
  padding: 10px;
}

.card-img-top > div{
  width: 50%;
}

.top-menu-container{
  position: relative;
  left:80%;
}

.botonregistrar{
  position: relative;
  left:80%;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

h1{
  font-family: 'Roboto', sans-serif;
}
.card col-6 col-md-4{
  width: 18rem;
}